.html{
    background-color: darkgoldenrod;
}

.linea{
    color: aliceblue;
}

.img{
   image-rendering: optimizeQuality;
}

.line{
    color: blue;
}

.steve{
   color: blue;
}

.contrato{
    color: red;
}